p{
    font-family:Helvetica;
    text-align: center;
}
h1{
    font-size: 100px;
    text-align: center;
}
body {
    color: lightgreen;
    background-color: black;
}
#footer {
    text-align: center;
    font-family: cursive;
}
button {
    float: right;
}